In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_excel("Rotten_Tomatoes_Movies3.xls")
df

,movie_title,movie_info,critics_consensus,rating,genre,directors,writers,cast,in_theaters_date,on_streaming_date,runtime_in_minutes,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating
0,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,2010-06-29,83.0,20th Century Fox,Rotten,49,144,53.0
1,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,2010-10-19,90.0,Sony Pictures Classics,Certified Fresh,86,140,64.0
2,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,1997-08-27,118.0,Waner Bros.,Fresh,68,22,53.0
3,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,2001-03-06,95.0,Criterion Collection,Certified Fresh,100,51,97.0
4,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,2003-05-20,127.0,Disney,Fresh,89,27,74.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16633,Zoot Suit,"Based on a 1940s Los Angeles murder trial, thi...",NaN,R,"Drama, Musical & Performing Arts",Luis Valdez,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",1981-10-02,2003-05-27,104.0,MCA Universal Home Video,Rotten,56,9,74.0
16634,Zootopia,The modern mammal metropolis of Zootopia is a ...,The brilliantly well-rounded Zootopia offers a...,PG,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",2016-03-04,2016-06-07,108.0,Walt Disney Animation Studios,Certified Fresh,97,279,92.0
16635,Zorba the Greek,If ever there was a role that Anthony Quinn wa...,NaN,NR,"Action & Adventure, Art House & International,...",NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K...",1964-12-17,2004-08-03,142.0,Fox,Fresh,78,9,87.0
16636,Zulu,"Filmed on a grand scale, Zulu is a rousing rec...",NaN,PG,"Classics, Drama","Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...",1964-06-17,2001-02-02,139.0,Paramount Pictures,Fresh,95,21,91.0
16637,Zulu Dawn,"A prequel to Zulu, Zulu Dawn depicts the event...",NaN,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,2005-09-27,117.0,Tango Entertainment,Rotten,57,7,62.0

In [5]:
df[['genre', 'directors']]

,genre,directors
0,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus
1,Comedy,Nicole Holofcener
2,"Comedy, Romance",Blake Edwards
3,"Classics, Drama",Sidney Lumet
4,"Action & Adventure, Drama, Kids & Family",Richard Fleischer
...,...,...
16633,"Drama, Musical & Performing Arts",Luis Valdez
16634,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush"
16635,"Action & Adventure, Art House & International,...",NaN
16636,"Classics, Drama","Cy Endfield, Cyril Endfield"
16637,"Action & Adventure, Art House & International,...",Douglas Hickox

In [7]:
df.loc[0] #row values

movie_title           Percy Jackson & the Olympians: The Lightning T...
movie_info            A teenager discovers he's the descendant of a ...
critics_consensus     Though it may seem like just another Harry Pot...
rating                                                               PG
genre                 Action & Adventure, Comedy, Drama, Science Fic...
directors                                                Chris Columbus
writers                                                    Craig Titley
cast                  Logan Lerman, Brandon T. Jackson, Alexandra Da...
in_theaters_date                                    2010-02-12 00:00:00
on_streaming_date                                   2010-06-29 00:00:00
runtime_in_minutes                                                 83.0
studio_name                                            20th Century Fox
tomatometer_status                                               Rotten
tomatometer_rating                                                   49
tomatometer_count                                                   144
audience_rating                                                    53.0
Name: 0, dtype: object

In [9]:
df.drop('movie_info',axis=1)

,movie_title,critics_consensus,rating,genre,directors,writers,cast,in_theaters_date,on_streaming_date,runtime_in_minutes,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating
0,Percy Jackson & the Olympians: The Lightning T...,Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,2010-06-29,83.0,20th Century Fox,Rotten,49,144,53.0
1,Please Give,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,2010-10-19,90.0,Sony Pictures Classics,Certified Fresh,86,140,64.0
2,10,NaN,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,1997-08-27,118.0,Waner Bros.,Fresh,68,22,53.0
3,12 Angry Men (Twelve Angry Men),Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,2001-03-06,95.0,Criterion Collection,Certified Fresh,100,51,97.0
4,"20,000 Leagues Under The Sea","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,2003-05-20,127.0,Disney,Fresh,89,27,74.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16633,Zoot Suit,NaN,R,"Drama, Musical & Performing Arts",Luis Valdez,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",1981-10-02,2003-05-27,104.0,MCA Universal Home Video,Rotten,56,9,74.0
16634,Zootopia,The brilliantly well-rounded Zootopia offers a...,PG,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",2016-03-04,2016-06-07,108.0,Walt Disney Animation Studios,Certified Fresh,97,279,92.0
16635,Zorba the Greek,NaN,NR,"Action & Adventure, Art House & International,...",NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K...",1964-12-17,2004-08-03,142.0,Fox,Fresh,78,9,87.0
16636,Zulu,NaN,PG,"Classics, Drama","Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...",1964-06-17,2001-02-02,139.0,Paramount Pictures,Fresh,95,21,91.0
16637,Zulu Dawn,NaN,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,2005-09-27,117.0,Tango Entertainment,Rotten,57,7,62.0

In [11]:
df.head()

,movie_title,movie_info,critics_consensus,rating,genre,directors,writers,cast,in_theaters_date,on_streaming_date,runtime_in_minutes,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating
0,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,2010-06-29,83.0,20th Century Fox,Rotten,49,144,53.0
1,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,2010-10-19,90.0,Sony Pictures Classics,Certified Fresh,86,140,64.0
2,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,1997-08-27,118.0,Waner Bros.,Fresh,68,22,53.0
3,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,2001-03-06,95.0,Criterion Collection,Certified Fresh,100,51,97.0
4,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,2003-05-20,127.0,Disney,Fresh,89,27,74.0

In [13]:
df.tail()

,movie_title,movie_info,critics_consensus,rating,genre,directors,writers,cast,in_theaters_date,on_streaming_date,runtime_in_minutes,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating
16633,Zoot Suit,"Based on a 1940s Los Angeles murder trial, thi...",NaN,R,"Drama, Musical & Performing Arts",Luis Valdez,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",1981-10-02,2003-05-27,104.0,MCA Universal Home Video,Rotten,56,9,74.0
16634,Zootopia,The modern mammal metropolis of Zootopia is a ...,The brilliantly well-rounded Zootopia offers a...,PG,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",2016-03-04,2016-06-07,108.0,Walt Disney Animation Studios,Certified Fresh,97,279,92.0
16635,Zorba the Greek,If ever there was a role that Anthony Quinn wa...,NaN,NR,"Action & Adventure, Art House & International,...",NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K...",1964-12-17,2004-08-03,142.0,Fox,Fresh,78,9,87.0
16636,Zulu,"Filmed on a grand scale, Zulu is a rousing rec...",NaN,PG,"Classics, Drama","Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...",1964-06-17,2001-02-02,139.0,Paramount Pictures,Fresh,95,21,91.0
16637,Zulu Dawn,"A prequel to Zulu, Zulu Dawn depicts the event...",NaN,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,2005-09-27,117.0,Tango Entertainment,Rotten,57,7,62.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16638 entries, 0 to 16637
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_title         16638 non-null  object
 1   movie_info          16614 non-null  object
 2   critics_consensus   8309 non-null   object
 3   rating              16638 non-null  object
 4   genre               16621 non-null  object
 5   directors           16524 non-null  object
 6   writers             15289 non-null  object
 7   cast                16354 non-null  object
 8   in_theaters_date    15823 non-null  datetime64[ns]
 9   on_streaming_date   16636 non-null  datetime64[ns]
 10  runtime_in_minutes  16483 non-null  float64
 11  studio_name         16222 non-null  object
 12  tomatometer_status  16638 non-null  object
 13  tomatometer_rating  16638 non-null  int64
 14  tomatometer_count   16638 non-null  int64
 15  audience_rating     16386 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(2), object(10)
memory usage: 2.0+ MB

In [17]:
df.index

RangeIndex(start=0, stop=16638, step=1)

In [19]:
df.columns

Index(['movie_title', 'movie_info', 'critics_consensus', 'rating', 'genre',
       'directors', 'writers', 'cast', 'in_theaters_date', 'on_streaming_date',
       'runtime_in_minutes', 'studio_name', 'tomatometer_status',
       'tomatometer_rating', 'tomatometer_count', 'audience_rating'],
      dtype='object')

In [21]:
# changed the columns names:
new={'movie_title':'MOVIE_TITLE','critics_consensus':'CRITICUS_CONSENSUS','directors':'DIRECTORS','cast':'CAST',
     'on_streaming_date':'ON_STREAMING_DATE','studio_name':'STUDIO_NAME','tomatometer_rating':'TOMATOMETER_RATING',
     'audience_rating':'AUDIENCE_RATING'}
new

{'movie_title': 'MOVIE_TITLE',
 'critics_consensus': 'CRITICUS_CONSENSUS',
 'directors': 'DIRECTORS',
 'cast': 'CAST',
 'on_streaming_date': 'ON_STREAMING_DATE',
 'studio_name': 'STUDIO_NAME',
 'tomatometer_rating': 'TOMATOMETER_RATING',
 'audience_rating': 'AUDIENCE_RATING'}

In [23]:
df.rename(columns=new,inplace=True)
df.head()

,MOVIE_TITLE,movie_info,CRITICUS_CONSENSUS,rating,genre,DIRECTORS,writers,CAST,in_theaters_date,ON_STREAMING_DATE,runtime_in_minutes,STUDIO_NAME,tomatometer_status,TOMATOMETER_RATING,tomatometer_count,AUDIENCE_RATING
0,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,2010-06-29,83.0,20th Century Fox,Rotten,49,144,53.0
1,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,2010-10-19,90.0,Sony Pictures Classics,Certified Fresh,86,140,64.0
2,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,1997-08-27,118.0,Waner Bros.,Fresh,68,22,53.0
3,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,2001-03-06,95.0,Criterion Collection,Certified Fresh,100,51,97.0
4,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,2003-05-20,127.0,Disney,Fresh,89,27,74.0

In [25]:
df.iloc[1002]

MOVIE_TITLE                                                     Top Dog
movie_info            In this action comedy, renegade cop Jake Wilde...
CRITICUS_CONSENSUS                                                  NaN
rating                                                            PG-13
genre                                        Action & Adventure, Comedy
DIRECTORS                                                  Aaron Norris
writers                                                             NaN
CAST                  Chuck Norris, Clyde Kusatsu, Michele Lamar Ric...
in_theaters_date                                    1994-06-01 00:00:00
ON_STREAMING_DATE                                   2001-02-20 00:00:00
runtime_in_minutes                                                 93.0
STUDIO_NAME                                          Live Entertainment
tomatometer_status                                               Rotten
TOMATOMETER_RATING                                                    0
tomatometer_count                                                     8
AUDIENCE_RATING                                                    33.0
Name: 1002, dtype: object

In [27]:
df.loc[221]

MOVIE_TITLE                                                     Endgame
movie_info            The African National Congress (ANC) wages an a...
CRITICUS_CONSENSUS                                                  NaN
rating                                                            PG-13
genre                                         Drama, Mystery & Suspense
DIRECTORS                                                   Pete Travis
writers                                                     Paula Milne
CAST                  William Hurt, Chiwetel Ejiofor, Jonny Lee Mill...
in_theaters_date                                    2009-11-06 00:00:00
ON_STREAMING_DATE                                   2010-02-09 00:00:00
runtime_in_minutes                                                109.0
STUDIO_NAME                                              Monterey Media
tomatometer_status                                                Fresh
TOMATOMETER_RATING                                                   71
tomatometer_count                                                     7
AUDIENCE_RATING                                                    58.0
Name: 221, dtype: object

In [29]:
df.loc[212]

MOVIE_TITLE                                              The Stepfather
movie_info            A seemingly normal man wants the perfect famil...
CRITICUS_CONSENSUS    This tepid remake of the 1987 cult classic lac...
rating                                                            PG-13
genre                                        Horror, Mystery & Suspense
DIRECTORS                                              Nelson McCormick
writers                                Donald E. Westlake, J.S. Cardone
CAST                  Dylan Walsh, Penn Badgley, Sela Ward, Amber He...
in_theaters_date                                    2009-10-16 00:00:00
ON_STREAMING_DATE                                   2010-02-09 00:00:00
runtime_in_minutes                                                103.0
STUDIO_NAME                                                 Screen Gems
tomatometer_status                                               Rotten
TOMATOMETER_RATING                                                   11
tomatometer_count                                                    62
AUDIENCE_RATING                                                    34.0
Name: 212, dtype: object

In [31]:
df.iloc[1000]

MOVIE_TITLE                                              The Wild Bunch
movie_info            Sam Peckinpah's controversial revisionist West...
CRITICUS_CONSENSUS    The Wild Bunch is Sam Peckinpah's shocking, vi...
rating                                                                R
genre                                Action & Adventure, Drama, Western
DIRECTORS                                                 Sam Peckinpah
writers                      Sam Peckinpah, Walon Green, Roy N. Sickner
CAST                  William Holden, Ernest Borgnine, Robert Ryan, ...
in_theaters_date                                    1969-06-18 00:00:00
ON_STREAMING_DATE                                   1997-08-27 00:00:00
runtime_in_minutes                                                145.0
STUDIO_NAME                                       Warner Bros. Pictures
tomatometer_status                                      Certified Fresh
TOMATOMETER_RATING                                                   93
tomatometer_count                                                    57
AUDIENCE_RATING                                                    91.0
Name: 1000, dtype: object

In [33]:
df[['MOVIE_TITLE','CRITICUS_CONSENSUS','writers','CAST']]

,MOVIE_TITLE,CRITICUS_CONSENSUS,writers,CAST
0,Percy Jackson & the Olympians: The Lightning T...,Though it may seem like just another Harry Pot...,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da..."
1,Please Give,Nicole Holofcener's newest might seem slight i...,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R..."
2,10,NaN,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ..."
3,12 Angry Men (Twelve Angry Men),Sidney Lumet's feature debut is a superbly wri...,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G...."
4,"20,000 Leagues Under The Sea","One of Disney's finest live-action adventures,...",Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L..."
...,...,...,...,...
16633,Zoot Suit,NaN,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid..."
16634,Zootopia,The brilliantly well-rounded Zootopia offers a...,"Jared Bush, Phil Johnston","Ginnifer Goodwin, Jason Bateman, Idris Elba, J..."
16635,Zorba the Greek,NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K..."
16636,Zulu,NaN,"Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J..."
16637,Zulu Dawn,NaN,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh..."

In [35]:
df['TOMATOMETER_RATING'].min()

0

In [37]:
df['TOMATOMETER_RATING'].max()

100

In [39]:
df['AUDIENCE_RATING'].mean()

60.47082875625534

In [41]:
df['tomatometer_count'].min()

5

In [43]:
df.iloc[4292]

MOVIE_TITLE                                   The Children of Huang Shi
movie_info            Inspired by true events, the film tells the st...
CRITICUS_CONSENSUS    This beautifully photographed but dramatically...
rating                                                                R
genre                                  Art House & International, Drama
DIRECTORS                                            Roger Spottiswoode
writers                                   James MacManus, Jane Hawksley
CAST                  Jonathan Rhys Meyers, Radha Mitchell, Yun-Fat ...
in_theaters_date                                    2008-05-23 00:00:00
ON_STREAMING_DATE                                   2009-01-20 00:00:00
runtime_in_minutes                                                125.0
STUDIO_NAME                                      Sony Pictures Classics
tomatometer_status                                               Rotten
TOMATOMETER_RATING                                                   31
tomatometer_count                                                    78
AUDIENCE_RATING                                                    66.0
Name: 4292, dtype: object

In [45]:
#missing null values non not a number
df.isnull()

,MOVIE_TITLE,movie_info,CRITICUS_CONSENSUS,rating,genre,DIRECTORS,writers,CAST,in_theaters_date,ON_STREAMING_DATE,runtime_in_minutes,STUDIO_NAME,tomatometer_status,TOMATOMETER_RATING,tomatometer_count,AUDIENCE_RATING
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16633,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
16634,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16635,False,False,True,False,False,True,True,False,False,False,False,False,False,False,False,False
16636,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
16637,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False

In [47]:
df[df.isnull().any(axis=1)]

,MOVIE_TITLE,movie_info,CRITICUS_CONSENSUS,rating,genre,DIRECTORS,writers,CAST,in_theaters_date,ON_STREAMING_DATE,runtime_in_minutes,STUDIO_NAME,tomatometer_status,TOMATOMETER_RATING,tomatometer_count,AUDIENCE_RATING
2,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,1997-08-27,118.0,Waner Bros.,Fresh,68,22,53.0
7,3:10 to Yuma,"Desperate for money, frontier rancher Van Hefl...",NaN,NR,"Classics, Drama, Western",Delmer Daves,Halsted Welles,"Glenn Ford, Van Heflin, Felicia Farr, Leora Da...",1957-08-07,2002-04-02,92.0,Columbia Pictures,Fresh,96,27,78.0
8,Charly (A Heartbeat Away),Sam Roberts thinks he has all the answers: the...,NaN,PG,"Comedy, Drama, Romance",Adam Thomas Anderegg,"Jack Weyland, Janine Whetton Gilbert","Heather Beers, Gary Neilson, Lisa McCammon, Ja...",2002-09-27,2003-08-01,103.0,Excel Entertainment,Rotten,20,10,87.0
9,Abraham Lincoln,"To date, this D.W. Griffith epic is the only t...",NaN,NR,"Classics, Drama",D.W. Griffith,"Gerrit J. Lloyd, Stephen Vincent Ben√©t","Walter Huston, Una Merkel, Kay Hammond, Ian Ke...",1930-11-08,2008-11-18,97.0,United Artists,Fresh,90,10,38.0
10,Dark Water,Following up on his horror smash hits Ringu an...,NaN,PG-13,"Art House & International, Horror, Mystery & S...",Hideo Nakata,"Hideo Hakata, Takashige Ichise, Yoshihiro Naka...","Hitomi Kuroki, Rio Kanno, Shigemitsu Ogi, Mire...",2002-01-19,2005-06-21,100.0,Toho Company Ltd,Fresh,80,15,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16628,Zoo,In 1941 marksmen from the Royal Ulster Constab...,NaN,PG,"Action & Adventure, Kids & Family",Colin McIvor,Colin McIvor,"Art Parkinson, Penelope Wilton, Toby Jones, Am...",2018-06-08,2018-06-08,96.0,Samuel Goldwyn Films,Fresh,88,17,62.0
16633,Zoot Suit,"Based on a 1940s Los Angeles murder trial, thi...",NaN,R,"Drama, Musical & Performing Arts",Luis Valdez,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",1981-10-02,2003-05-27,104.0,MCA Universal Home Video,Rotten,56,9,74.0
16635,Zorba the Greek,If ever there was a role that Anthony Quinn wa...,NaN,NR,"Action & Adventure, Art House & International,...",NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K...",1964-12-17,2004-08-03,142.0,Fox,Fresh,78,9,87.0
16636,Zulu,"Filmed on a grand scale, Zulu is a rousing rec...",NaN,PG,"Classics, Drama","Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...",1964-06-17,2001-02-02,139.0,Paramount Pictures,Fresh,95,21,91.0
16637,Zulu Dawn,"A prequel to Zulu, Zulu Dawn depicts the event...",NaN,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,2005-09-27,117.0,Tango Entertainment,Rotten,57,7,62.0

In [51]:
#missing value of the colmun
df.dropna()

,MOVIE_TITLE,movie_info,CRITICUS_CONSENSUS,rating,genre,DIRECTORS,writers,CAST,in_theaters_date,ON_STREAMING_DATE,runtime_in_minutes,STUDIO_NAME,tomatometer_status,TOMATOMETER_RATING,tomatometer_count,AUDIENCE_RATING
0,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,2010-06-29,83.0,20th Century Fox,Rotten,49,144,53.0
1,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,2010-10-19,90.0,Sony Pictures Classics,Certified Fresh,86,140,64.0
3,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,2001-03-06,95.0,Criterion Collection,Certified Fresh,100,51,97.0
4,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,2003-05-20,127.0,Disney,Fresh,89,27,74.0
5,"10,000 B.C.",A young outcast from a primitive tribe is forc...,With attention strictly paid to style instead ...,PG-13,"Action & Adventure, Classics, Drama",Roland Emmerich,"Roland Emmerich, Harald Kloser","Steven Strait, Camilla Belle, Cliff Curtis, Jo...",2008-03-07,2008-06-24,109.0,Warner Bros. Pictures,Rotten,8,148,37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16629,Zookeeper,"In Zookeeper, the animals at the Franklin Park...",Zookeeper smothers Kevin James's with a sodden...,PG,"Comedy, Romance","Frank Coraci, Walt Becker","Jay Scherick, David Ronn, Nick Bakay, Rock Reu...","Kevin James, Rosario Dawson, Ken Jeong, Leslie...",2011-07-08,2011-10-11,101.0,Columbia Pictures,Rotten,14,131,41.0
16630,Zoolander,"Comic actor Ben Stiller co-wrote, directed, an...","A wacky satire on the fashion industry, Zoolan...",PG-13,"Comedy, Special Interest",Ben Stiller,"Drake Sather, John Hamburg, Ben Stiller","Ben Stiller, Owen Wilson, Will Ferrell, Christ...",2001-09-28,2002-03-12,105.0,Paramount Pictures,Fresh,64,137,80.0
16631,Zoolander 2,Ben Stiller returns both in front of and behin...,Zoolander No. 2 has more celebrity cameos than...,PG-13,Comedy,Ben Stiller,"Justin Theroux, Ben Stiller, Nicholas Stoller,...","Ben Stiller, Owen Wilson, Will Ferrell, Penelo...",2016-02-12,2016-05-24,102.0,Paramount Pictures,Rotten,23,226,20.0
16632,Zoom,Former superhero Jack is called back to work t...,Lacking the punch and good cheer of The Incred...,PG,"Action & Adventure, Comedy, Kids & Family",Peter Hewitt,"Adam Rifkin, David Berenbaum","Tim Allen, Courteney Cox, Chevy Chase, Spencer...",2006-08-11,2007-09-02,88.0,Sony Pictures Entertainment,Rotten,3,66,33.0
16634,Zootopia,The modern mammal metropolis of Zootopia is a ...,The brilliantly well-rounded Zootopia offers a...,PG,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",2016-03-04,2016-06-07,108.0,Walt Disney Animation Studios,Certified Fresh,97,279,92.0

In [53]:
df.replace({'tomatometer_status':{'Certified Fresh':'CS','Rotten':'RT'}})

,MOVIE_TITLE,movie_info,CRITICUS_CONSENSUS,rating,genre,DIRECTORS,writers,CAST,in_theaters_date,ON_STREAMING_DATE,runtime_in_minutes,STUDIO_NAME,tomatometer_status,TOMATOMETER_RATING,tomatometer_count,AUDIENCE_RATING
0,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,2010-06-29,83.0,20th Century Fox,RT,49,144,53.0
1,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,2010-10-19,90.0,Sony Pictures Classics,CS,86,140,64.0
2,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,1997-08-27,118.0,Waner Bros.,Fresh,68,22,53.0
3,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,2001-03-06,95.0,Criterion Collection,CS,100,51,97.0
4,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,2003-05-20,127.0,Disney,Fresh,89,27,74.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16633,Zoot Suit,"Based on a 1940s Los Angeles murder trial, thi...",NaN,R,"Drama, Musical & Performing Arts",Luis Valdez,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",1981-10-02,2003-05-27,104.0,MCA Universal Home Video,RT,56,9,74.0
16634,Zootopia,The modern mammal metropolis of Zootopia is a ...,The brilliantly well-rounded Zootopia offers a...,PG,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",2016-03-04,2016-06-07,108.0,Walt Disney Animation Studios,CS,97,279,92.0
16635,Zorba the Greek,If ever there was a role that Anthony Quinn wa...,NaN,NR,"Action & Adventure, Art House & International,...",NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K...",1964-12-17,2004-08-03,142.0,Fox,Fresh,78,9,87.0
16636,Zulu,"Filmed on a grand scale, Zulu is a rousing rec...",NaN,PG,"Classics, Drama","Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...",1964-06-17,2001-02-02,139.0,Paramount Pictures,Fresh,95,21,91.0
16637,Zulu Dawn,"A prequel to Zulu, Zulu Dawn depicts the event...",NaN,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,2005-09-27,117.0,Tango Entertainment,RT,57,7,62.0

In [55]:
#delete column:
del df['genre']
df.head()

,MOVIE_TITLE,movie_info,CRITICUS_CONSENSUS,rating,DIRECTORS,writers,CAST,in_theaters_date,ON_STREAMING_DATE,runtime_in_minutes,STUDIO_NAME,tomatometer_status,TOMATOMETER_RATING,tomatometer_count,AUDIENCE_RATING
0,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,PG,Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,2010-06-29,83.0,20th Century Fox,Rotten,49,144,53.0
1,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,R,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,2010-10-19,90.0,Sony Pictures Classics,Certified Fresh,86,140,64.0
2,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,R,Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,1997-08-27,118.0,Waner Bros.,Fresh,68,22,53.0
3,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,NR,Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,2001-03-06,95.0,Criterion Collection,Certified Fresh,100,51,97.0
4,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",G,Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,2003-05-20,127.0,Disney,Fresh,89,27,74.0

In [67]:
df.count()

MOVIE_TITLE           16638
movie_info            16614
CRITICUS_CONSENSUS     8309
rating                16638
DIRECTORS             16524
writers               15289
CAST                  16354
in_theaters_date      15823
ON_STREAMING_DATE     16636
runtime_in_minutes    16483
STUDIO_NAME           16222
tomatometer_status    16638
TOMATOMETER_RATING    16638
tomatometer_count     16638
AUDIENCE_RATING       16386
dtype: int64

In [71]:
df.describe()

,in_theaters_date,ON_STREAMING_DATE,runtime_in_minutes,TOMATOMETER_RATING,tomatometer_count,AUDIENCE_RATING
count,15823,16636,16483.000000,16638.000000,16638.000000,16386.000000
mean,1999-10-24 22:10:52.973519488,2008-08-13 13:35:49.266650624,102.391494,60.466522,56.607104,60.470829
min,1914-06-01 00:00:00,1935-06-06 00:00:00,1.000000,0.000000,5.000000,0.000000
25%,1993-03-29 00:00:00,2003-01-28 00:00:00,90.000000,38.000000,12.000000,45.000000
50%,2006-08-04 00:00:00,2008-04-08 00:00:00,99.000000,66.000000,28.000000,62.000000
75%,2013-06-28 00:00:00,2014-05-12 00:00:00,111.000000,86.000000,76.000000,77.000000
max,2019-12-07 00:00:00,2019-11-01 00:00:00,2000.000000,100.000000,497.000000,100.000000
std,NaN,NaN,25.028011,28.587230,66.383800,20.462368